force-app/main/default/flows/Create_Campaigns_For_Year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Campaigns_for_Year</name>
        <label>Generate Campaigns for Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CampaignGeneratorAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>hebrewYear</name>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CampaignGeneratorAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>X5780</name>
        <choiceText>5780</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5780</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5781</name>
        <choiceText>5781</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5781</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5782</name>
        <choiceText>5782</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5782</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5783</name>
        <choiceText>5783</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5783</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5784</name>
        <choiceText>5784</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5784</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5785</name>
        <choiceText>5785</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5785</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5786</name>
        <choiceText>5786</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5786</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5787</name>
        <choiceText>5787</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5787</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5788</name>
        <choiceText>5788</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5788</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5789</name>
        <choiceText>5789</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5789</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5790</name>
        <choiceText>5790</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5790</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Create Campaigns For Year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaigns For Year</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Year</name>
        <label>Choose Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_Campaigns_for_Year</targetReference>
        </connector>
        <fields>
            <name>Year</name>
            <choiceReferences>X5780</choiceReferences>
            <choiceReferences>X5781</choiceReferences>
            <choiceReferences>X5782</choiceReferences>
            <choiceReferences>X5783</choiceReferences>
            <choiceReferences>X5784</choiceReferences>
            <choiceReferences>X5785</choiceReferences>
            <choiceReferences>X5786</choiceReferences>
            <choiceReferences>X5787</choiceReferences>
            <choiceReferences>X5788</choiceReferences>
            <choiceReferences>X5789</choiceReferences>
            <choiceReferences>X5790</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Year</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
